@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
